# Credentials and Keys
cles
*.pem
ansible/k3s_token.txt
ansible/k3s_kubeconfig

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS files
.DS_Store
Thumbs.db

# K3s and Tokens
k3s_kubeconfig.yaml
k3s_kubeconfig_remote.yaml
node_token.txt

# Terraform JSON
terraform/*.json
terraform/kubeconfig.yaml

# Python cache
__pycache__/
*.pyc
